.modal {
  position: absolute;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    299deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(200, 215, 212, 0.3379726890756303) 95%
  );

  border: black solid 2px;
  border-radius: 8px;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  outline: none;
  max-width: 480px;
  width: 100%;
  transform: translate(-50%, -50%);
  padding: 32px;
  font-family: 'Fira Sans', serif;
}

.modal__title {
  margin-bottom: 0;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 38px;
  font-weight: bold;
}

.modal__category {
  margin-top: 4px;
  margin-bottom: 32px;
}

.modal__info-left {
  align-self: center;
}

.modal__info-right {
  justify-self: end;
}

.modal__info {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.modal__contact {
  font-weight: 700;
  margin-bottom: 0;
  padding-bottom: 8px;
  margin-top: 0;
}

.modal__img {
  max-width: 240px;
  width: 100%;
}

.modal__rating {
  font-size: 22px;
  padding-top: 16px;
}

a.yelp {
  font-family: inherit;
  text-decoration-style: dotted !important;
  color: #c41200;
}
