.modal {
  background-image: linear-gradient(
      to bottom left,
      transparent 0%,
      #fafafa 40%
    ),
    repeating-linear-gradient(
      135.5deg,
      transparent 1px,
      #fafafa 2px,
      #fafafa 18px,
      transparent 19px,
      transparent 20px
    ),
    linear-gradient(38.5deg, #f1292a, #d93299);
  position: absolute;
  border: black solid 2px;
  border-radius: 8px;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  outline: none;
  max-width: 560px;
  width: 100%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 32px;
}
.modal__title {
  font-family: 'Tiempos Fine Bold';
  margin-bottom: 0;
  font-size: 38px;
}

.modal__category {
  margin-top: 4px;
  margin-bottom: 32px;
}

.modal__info-left {
  align-self: center;
}

.modal__info {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.modal__contact {
  font-family: 'Tiempos Fine Semibold';
  margin-bottom: 0;
  padding-bottom: 8px;
  margin-top: 0;
}

.modal__img {
  max-width: 240px;
  width: 100%;
}

.modal__rating {
  font-family: 'Tiempos Fine Semibold';
  font-size: 24px;
  text-align: center;
}
