.modal {
  position: absolute;
  background-color: #333;
  border: black solid 2px;
  border-radius: 8px;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  outline: none;
  max-width: 480px;
  width: 100%;
  transform: translate(-50%, -50%);
  padding: 32px;
}

.modal__title {
  font-family: 'Playfair Display';
  font-weight: 900;
  margin-bottom: 0;
  font-size: 38px;
}

.modal__category {
  margin-top: 4px;
  margin-bottom: 32px;
}

.modal__info-left {
  align-self: center;
}

.modal__info-right {
  justify-self: end;
}

.modal__info {
  z-index: 1111;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.modal__contact {
  font-family: 'Playfair Display';
  font-weight: 700;
  margin-bottom: 0;
  padding-bottom: 8px;
  margin-top: 0;
}

.modal__img {
  max-width: 240px;
  width: 100%;
}

.modal__rating {
  font-family: 'Playfair Display';
  font-weight: 700;
  font-size: 24px;
  padding-top: 16px;
}

a {
  font-family: inherit;
  text-decoration-style: dotted;
  color: #c41200;
}
