.side {
  height: 100vh;
  overflow: auto;
}

.restaurant {
  padding-left: 16px;
}
.restaurant__title {
  font-family: 'Tiempos Fine Bold';
  font-size: 32px;
  margin-bottom: 0px;
}

.restaurant__category {
  font-family: 'SuisseIntl-Book';
  font-size: 14px;
  margin-top: 4px;
}

.restaurant__phone {
  font-family: 'SuisseIntl-Book';
  font-size: 16px;
  margin-bottom: 8px;
}

.restaurant__info {
  font-family: 'SuisseIntl-Book';
  margin: 0;
  font-size: 16px;
}
