.side {
  height: 100vh;
  overflow: auto;
}

.restaurant {
  padding-left: 16px;
}
.restaurant__title {
  font-size: 30px;
  letter-spacing: 0.5px;
  margin-bottom: 0px;
}

.restaurant__category {
  font-size: 14px;
  font-weight: normal;
  margin-top: 4px;
}

.restaurant__phone {
  font-size: 16px;
  font-weight: normal;
  margin-bottom: 8px;
}

.restaurant__info {
  margin: 0;
  font-size: 16px;
  font-weight: normal;
}
