.side {
  height: 100vh;
  overflow: auto;
}

.restaurant {
  padding-left: 16px;
  margin: 16px;
  font-family: 'Fira Sans';
  border: #c8d7d4 solid 2px;
  border-radius: 8px;
  background-image: url('../../assets/oakland.png');
  background-position: bottom -30px right -20px;
  background-repeat: no-repeat;
}
.restaurant__title {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 32px;
  margin-bottom: 0px;
}

.restaurant__category {
  font-size: 14px;
  font-weight: normal;
  margin-top: 4px;
}

.restaurant__phone {
  font-size: 16px;
  font-weight: normal;
  margin-bottom: 16px;
  padding-bottom: 8px;
}

.restaurant__info {
  margin: 0;
  font-size: 16px;
  font-weight: normal;
}
