.marker {
  cursor: pointer;
}

.marker__tooltip {
  font-family: 'Playfair Display' !important;
  font-weight: 700 !important;
  font-size: 16px !important;
  padding: 8px !important;
  background-color: red !important;
}
