.marker {
  cursor: pointer;
  /*position: absolute !important;*/
  /*transform: translate(-50%, -50%) !important;*/
}

.marker__tooltip {
  font-weight: 700 !important;
  font-size: 18px !important;
  letter-spacing: 0.5px;
  padding: 8px !important;
  background-color: #444 !important;
}
