@import url('https://fonts.googleapis.com/css?family=Fira+Sans&display=swap');

body {
  margin: 0;
}

.App {
  display: grid;
  grid-template-columns: 1fr 2fr;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-weight: normal;
}

.toast__body {
  background-color: inherit;
  display: grid;
  grid-template-columns: 48px 1fr;
  margin: 8px;
  color: #222;
  font-family: 'Fira Sans', Helvetica, sans-serif !important;
}

.toast__body-left {
  align-self: center;
}

.toast__body-right {
  align-self: center;
}

@media screen and (max-width: 480px) {
  .App {
    display: grid;
    grid-template-columns: 1fr 3fr;
  }
}
