@import url('https://fonts.googleapis.com/css?family=Fira+Sans&display=swap');

body {
  margin: 0;
}

.App {
  display: grid;
  grid-template-columns: 1fr 2fr;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-weight: normal;
}

@media screen and (max-width: 480px) {
  .App {
    display: grid;
    grid-template-columns: 1fr 3fr;
  }
}
