@import url('https://fonts.googleapis.com/css?family=Fira+Sans&display=swap');

body {
  margin: 0;
}

.App {
  display: grid;
  grid-template-columns: 1fr 2fr;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-weight: normal;
}

.toast {
  /*border: 2px solid black;*/
  /*margin: 16px;*/
}

.toast__body {
  color: #222;
  font-family: 'Helvetica Neue', Helvetica, sans-serif !important;
  border: 2px solid black;
  border-radius: 8px;
}

@media screen and (max-width: 480px) {
  .App {
    display: grid;
    grid-template-columns: 1fr 3fr;
  }
}
